<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>Corporattica</title>
	<script src="@routes.Assets.at("javascripts/lib/jquery-1.10.2.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/lib/menu.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/lib/slideshow.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/lib/cufon-yui.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/lib/Arial.font.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/lib/fancyzoom.min.js")" type="text/javascript"></script>
	<script type="text/javascript">
		Cufon.replace('h1,h2,h3,h4,h5,#menu,#copy,.blog-date');
	</script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$('div.photo a').fancyZoom({scaleImg: true, closeOnClick: true});
		});
	</script>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" /></head>
<body>
	<div id="bg">
		<div class="wrap">
			
			<!-- logo -->
			<h1><a href="index.scala.html">Team One</a></h1>
			<!-- /logo -->
			
			<!-- menu -->
			<div id="mainmenu">
				<ul id="menu">
					<li><a href="/">Home</a></li>
					<li><a href="/TeamMembers">Team Members</a></li>
					<li><a href="/Scores">Scores</a></li>
					<li><a href="/ImpLinks">Important Links</a></li>
					<li><a class="current_page_item" href="/About">About Us</a></li>
					<li><a href="/Contacts">Contact Us</a></li>
				</ul>
			</div>
			<!-- /menu -->
			
			<!-- pitch -->
			
			<!-- /pitch -->
			
			<!-- main -->
			
			<!-- /main -->
			
			<!-- side -->
			
			<!-- /side -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h2>Welcome to Team One</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

		</div>
			
		<!-- footer -->
		<div id="footer">
			<div id="footerbg">
				<div class="wrap">
				
					<!-- footer links -->
					<p>Copyright (c) 2013 Dipesh Prasad. All rights reserved. Designed by <a href="mailto:dipesh.prasad@@hp.com/" rel="nofollow">Dipesh Prasad</a>.</p>
					<!-- /footer links -->
					
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<!-- /footer -->
		
	</div>
</body>
</html>