<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>Corporattica</title>
	<script src="@routes.Assets.at("javascripts/lib/jquery-1.10.2.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/lib/menu.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/lib/slideshow.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/lib/cufon-yui.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/lib/Arial.font.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/lib/fancyzoom.min.js")" type="text/javascript"></script>
	<script type="text/javascript">
		Cufon.replace('h1,h2,h3,h4,h5,#menu,#copy,.blog-date');
	</script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$('div.photo a').fancyZoom({scaleImg: true, closeOnClick: true});
		});
	</script>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" /></head>
<body>
	<div id="bg">
		<div class="wrap">
			
			<!-- logo -->
			<h1><a href="index.scala.html">Team One</a></h1>
			<!-- /logo -->
			
			<!-- menu -->
			<div id="mainmenu">
				<ul id="menu">
					<li><a  href="/">Home</a></li>
					<li><a href="TeamMembers">Team Members</a></li>
					<li><a href="/Scores">Scores</a></li>
					<li><a href="/ImpLinks">Important Links</a></li>
					<li><a href="/About">About Us</a></li>
					<li><a class="current_page_item" href="/Contacts">Contact Us</a></li>
				</ul>
			</div>
			<!-- /menu -->
			
			<!-- pitch -->
						<!-- /pitch -->
<!-- main -->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
			<table border="1" style="background-color:;border:1px;width:80%;border-collapse:collapse;">
							<tr style="background-color:#F2AE30;color:white;">
								<th style="padding:3px;">Name</th><th style="padding:3px;">Number</th>
							</tr>
							<tr>
								<td style="padding:3px;">Hariharan V</td><td style="padding:3px;">+91 98803 04123</td>
							</tr>
							<tr>
							<td style="padding:3px;">Dipesh Prasad</td><td style="padding:3px;">+91 96209 02205</td>
							</tr>
							<tr>
							<td style="padding:3px;">Pavan Kumar Mahamkali</td><td style="padding:3px;">+91 98862 43364</td>
							</tr>
							<tr>
							<td style="padding:3px;">Aasim Mohammed</td><td style="padding:3px;">+91 99453 94170</td>
							</tr>
							<tr>
							<td style="padding:3px;">Anand Kumar P</td><td style="padding:3px;">+91 98806 10838</td>
							</tr>
							<tr>
							<td style="padding:3px;">Chetan Kumar Kulkarni</td><td style="padding:3px;">+91 95910 05949</td>
							</tr>
							<tr>
							<td style="padding:3px;">Ivan D'Souza</td><td style="padding:3px;">+91 98807 10827</td>
							</tr>
							<tr>
							<td style="padding:3px;">Honey Sharma</td><td style="padding:3px;">+91 80503 33893</td>
							</tr>
							<tr>
							<td style="padding:3px;">Sunil Kumar HS</td><td style="padding:3px;">+91 98457 59845</td>
							</tr>
							<tr>
							<td style="padding:3px;">Rajesh Kumar</td><td style="padding:3px;">+91 98454 34943</td>
							</tr>
							<tr>
							<td style="padding:3px;">Muhammed Mufeez Pasha</td><td style="padding:3px;">+91 98865 62280</td>
							</tr>
							<tr>
							<td style="padding:3px;">Prakash Krishnan</td><td style="padding:3px;">+91 98457 44975</td>
							</tr>
							<tr>
							<td style="padding:3px;">Santosh Muralidhar Kumar</td><td style="padding:3px;">+91 96208 18085</td>
							</tr>
							<tr>
							<td style="padding:3px;">Sapna Rai</td><td style="padding:3px;">+91 72044 32497</td>
							</tr>
							<tr>
							<td style="padding:3px;">Sharath RR</td><td style="padding:3px;">+91 98866 54557 / +91 95383 73631</td>
							</tr>
							<tr>
							<td style="padding:3px;">Shivaprasad R</td><td style="padding:3px;">+91 90088 99200</td>
							</tr>
							<tr>
							<td style="padding:3px;">Hitesh Panchal Surendra</td><td style="padding:3px;">+91 99802 04443</td>
							</tr>
							<tr>
							<td style="padding:3px;">Tapan Kumar Gupta</td><td style="padding:3px;">+91 88841 03891</td>
							</tr>
							<tr>
							<td style="padding:3px;">Venkata Ramana Srimushnam</td><td style="padding:3px;">+91 99000 17412</td>
							</tr>
							<tr>
							<td style="padding:3px;">Vinod Kumar Kuksal</td><td style="padding:3px;">+91 92430 49882</td>
							</tr>
							<tr>
							<td style="padding:3px;">Kishan M</td><td style="padding:3px;">+91 90356 21234</td>
							</tr>
						</table>
			
			
			
			<!-- /main -->
			
			<!-- side -->

			<!-- /side -->
		</div>
			
		<!-- footer -->
		<div id="footer">
			<div id="footerbg">
				<div class="wrap">
				
					<!-- footer links -->
					<p>Copyright (c) 2013 Dipesh Prasad. All rights reserved. Designed by <a href="mailto:dipesh.prasad@@hp.com/" rel="nofollow">Dipesh Prasad</a>.</p>
					<!-- /footer links -->
					
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<!-- /footer -->
		
	</div>
</body>
</html>