<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>Corporattica</title>
	<script src="@routes.Assets.at("javascripts/lib/jquery-1.10.2.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/lib/menu.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/lib/slideshow.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/lib/cufon-yui.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/lib/Arial.font.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/lib/fancyzoom.min.js")" type="text/javascript"></script>
	<script type="text/javascript">
		Cufon.replace('h1,h2,h3,h4,h5,#menu,#copy,.blog-date');
	</script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$('div.photo a').fancyZoom({scaleImg: true, closeOnClick: true});
		});
	</script>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" /></head>
<body>
	<div id="bg">
		<div class="wrap">
			
			<!-- logo -->
			<h1><a href="index.scala.html">Team One </a></h1>
			<!-- /logo -->
			
			<!-- menu -->
			<div id="mainmenu">
				<ul id="menu">
					<li><a href="/">Home</a></li>
					<li><a class="current_page_item" href="/TeamMembers">Team Members</a></li>
					<li><a href="/Scores">Scores</a></li>
					<li><a href="/ImpLinks">Important Links</a></li>
					<li><a href="/About">About Us</a></li>
					<li><a href="/Contacts">Contact Us</a></li>
				</ul>
			</div>
			<!-- /menu -->
			
			<!-- pitch -->
			
			<!-- /pitch -->
			
			<!-- main -->
			<div id="main">
				<div id="page">
					<h2 class="inner">lets know each other... </h2>
					<div class="post">
								<h4 class="title"><a href="#">Hariharan V</a></h4>
								<p class="meta">Manager, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: --</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p style="color:white;"><img src="@routes.Assets.at("images/hv.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
						</div>
<div class="post">
								<h4 class="title"><a href="#">Dipesh Prasad</a></h4>
								<p class="meta">Team Leader, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 13th February</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/dp.jpg")" width="143" height="143" alt="" class="alignleft border" /> At <strong>HP</strong>, we live for the big idea, the next great discovery. "Invent" is more than a word: it’s who we are. Everything we do, we do to make technology more practical, usable, and valuable to our customers. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Pavan Kumar Mahamkali</a></h4>
								<p class="meta">Team Leader, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 10th April</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/pkm.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Aasim Mohammed</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 30th March</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/am.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Anand Kumar P</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 2nd February</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/akp.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Chetan Kumar Kulkarni</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 31st January</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/ckk.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Hitesh Panchal Surendra</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 2nd October</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/hps.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Honey Sharma</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 10th December</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/hs.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Ivan D'Souza</a></h4>
								<p class="meta">TCO Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 27th June</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/ids.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Muhammed Mufeez Pasha</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 2nd July</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/mmp.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Prakash Krishnan</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 11th April</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/pk.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Rajesh Kumar</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 15th February</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/rk.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Santosh Muralidhar Kumar</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 2nd August</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/smk.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Sapna Rai</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 1st February</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/sr.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Sharath RR</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 2nd May</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/srr.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Shivaprasad R</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 22nd July</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/spr.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Sunil Kumar HS</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 7th September</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/skhs.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Tapan Kumar Gupta</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 14th November</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/tkg.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Venkata Ramana Srimushnam</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 17th June</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/vrs.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Vinod Kumar Kuksal</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 3rd December</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/vkk.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Kishan M</a></h4>
								<p class="meta">Case Manager, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 3rd January</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src="@routes.Assets.at("images/km.jpg")" width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>







					<div class="clear"></div>					
					
				</div>
			</div>
			<!-- /main -->
			
			<!-- side -->
			
			<!-- /side -->
		</div>
			
		<!-- footer -->
		<div id="footer">
			<div id="footerbg">
				<div class="wrap">
				
					<!-- footer links -->
					<p>Copyright (c) 2013 Dipesh Prasad. All rights reserved. Designed by <a href="mailto:dipesh.prasad@@hp.com/" rel="nofollow">Dipesh Prasad</a>.</p>
					<!-- /footer links -->
					
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<!-- /footer -->
		
	</div>
</body>
</html>