<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Team Members - Team One - Hariharan Team Website</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")"  />
</head>
<body>
<div id="wrapper">
	<div id="wrapper-bgbtm">
		<div id="header">
			<div id="logo">
				<h1><a href="#">Team Members</a></h1>
				<I>people who makes our team great...</I>
			</div>
		</div>
		<!-- end #header -->
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="Index">Home</a></li>
				<li><a href="TeamMembers">Team Members</a></li>
				<li><a href="Scores">Scores</a></li>
				<li><a href="About">About</a></li>
				<li><a href="ImpLinks">Important Links</a></li>
				<li><a href="Contacts">Contacts</a></li>
			</ul>
		</div>
		<!-- end #menu -->
		<div id="page">
			<div id="page-bgtop">
				<div id="page-bgbtm">
					<div id="content">
						<div class="post">
							<h2 class="title"><a href="#">lets know each other... </a></h2>
						</div>
							<div class="post">
								<h4 class="title"><a href="#">Hariharan V</a></h4>
								<p class="meta">Manager, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: --</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/hv.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Dipesh Prasad</a></h4>
								<p class="meta">Team Leader, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 13th February</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/dp.jpg") width="143" height="143" alt="" class="alignleft border" /> At <strong>HP</strong>, we live for the big idea, the next great discovery. "Invent" is more than a word: it’s who we are. Everything we do, we do to make technology more practical, usable, and valuable to our customers. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Pavan Kumar Mahamkali</a></h4>
								<p class="meta">Team Leader, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 10th April</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/pkm.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Aasim Mohammed</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 30th March</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/am.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Anand Kumar P</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 2nd February</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/akp.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Chetan Kumar Kulkarni</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 31st January</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/ckk.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Hitesh Panchal Surendra</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 2nd October</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/hps.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Honey Sharma</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 10th December</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/hs.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Ivan D'Souza</a></h4>
								<p class="meta">TCO Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 27th June</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/ids.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Muhammed Mufeez Pasha</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 2nd July</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/mmp.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Prakash Krishnan</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 11th April</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/pk.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Rajesh Kumar</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 15th February</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/rk.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Santosh Muralidhar Kumar</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 2nd August</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/smk.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Sapna Rai</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 1st February</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/sr.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Sharath RR</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 2nd May</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/srr.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Shivaprasad R</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 22nd July</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/spr.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Sunil Kumar HS</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 7th September</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/skhs.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Tapan Kumar Gupta</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 14th November</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/tkg.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Venkata Ramana Srimushnam</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 17th June</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/vrs.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Vinod Kumar Kuksal</a></h4>
								<p class="meta">Server Support Engineer, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 3rd December</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/vkk.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
							<div class="post">
								<h4 class="title"><a href="#">Kishan M</a></h4>
								<p class="meta">Case Manager, ISS &nbsp;&bull;&nbsp; <a href="#" class="comments">DOB: 3rd January</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
								<div class="entry">
									<p><img src=@routes.Assets.at("images/km.jpg") width="143" height="143" alt="" class="alignleft border" /> Need one small write up, to fill this space.. :)</p>
								</div>
							</div>
						</div>
						<!--<div class="post">
							<h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
							<p class="meta">Posted by <a href="#">Someone</a> on July 8, 2011
								&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
							<div class="entry">
								<p><img src="images/img03.jpg" width="143" height="143" alt="" class="alignleft border" />Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, consectetuer nisl felis ac diam. Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at,  non, purus. Mauris vitae nisl nec metus  consectetuer.</p>
							</div>
						</div>-->
					</div>
					<!-- #sidebar -->
					<div id="sidebar">
						<div id="search">
							<h2>Updates</h2>
							<!-- <form method="get" action="">
								<fieldset>
									<input type="text" name="s" id="search-text" size="15" value="enter keywords here..." />
									<input type="submit" id="search-submit" value="GO" />
								</fieldset> -->
								<p><marquee>Please talk to Hari before claiming NSA.</marquee></p>
								
							</form>
						</div>
						<ul>
							<li>
								<h2>Quote of the Day</h2>
								<p>In order to succeed, your desire for success should be greater than your fear of failure - Bill Cosby.</p>
							</li>
							<!-- <li>
								<h2>Shortcuts - Team Scores</h2>
								<ul>
									<li><a href="#">DA</a></li>
									<li><a href="#">RCTAT</a></li>
									<li><a href="#">PPMD</a></li>
									<li><a href="#">NMU</a></li>
									<li><a href="#">RR</a></li>
									<li><a href="#">Surveyable</a></li>
								</ul>
							</li>
							<li>
								<h2>Archives</h2>
								<!-- <ul>
									<li><a href="#">Aliquam libero</a></li>
									<li><a href="#">Consectetuer adipiscing elit</a></li>
									<li><a href="#">Metus aliquam pellentesque</a></li>
									<li><a href="#">Suspendisse iaculis mauris</a></li>
									<li><a href="#">Urnanet non molestie semper</a></li>
									<li><a href="#">Proin gravida orci porttitor</a></li>
								</ul> --> 
							</li>
							<li>
								<!-- <h2>Archives</h2>
								<ul>
									<li><a href="#">Aliquam libero</a></li>
									<li><a href="#">Consectetuer adipiscing elit</a></li>
									<li><a href="#">Metus aliquam pellentesque</a></li>
									<li><a href="#">Suspendisse iaculis mauris</a></li>
									<li><a href="#">Urnanet non molestie semper</a></li>
									<li><a href="#">Proin gravida orci porttitor</a></li>
								</ul> -->
							</li>
						</ul>
					</div>
					 <!-- end #sidebar -->
					<div style="clear: both;">&nbsp;</div>
				</div>
			</div>
		</div>
		<!-- end #page -->
		<div id="footer">
			<p>Copyright (c) 2013 Dipesh Prasad. All rights reserved. Designed by <a href="mailto:dipesh.prasad@@hp.com/" rel="nofollow">Dipesh Prasad</a>.</p>
		</div>
		<!-- end #footer -->
	</div>
</div>
</body>
</html>